<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>calculator</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <div class="main">
    <div class="section1">
    
      
<input type="text" class="textbox" id="txt">


<button class="btn" onclick="clickk0()" id="zero">C</button>
    </div>
    <div class="section1">
<button class="btn" onclick="clickk1()" id="one">1</button>
<button class="btn" onclick="clickk2()" id="two">2</button>
<button  class="btn" onclick="clickk3()" id="three">3</button>
<button  class="btn" onclick="clickk4()" id="four">/</button>
    </div>
    <div class="section1">
      <button class="btn" onclick="clickk5()" id="five">4</button>
      <button class="btn" onclick="clickk6()" id="six">5</button>
      <button  class="btn" onclick="clickk7()" id="seven">6</button>
      <button  class="btn" onclick="clickk8()" id="eight">*</button>
          </div>
          <div class="section1">
            <button class="btn" onclick="clickk9()" id="nine">7</button>
            <button class="btn" onclick="clickk10()" id="ten">8</button>
            <button  class="btn" onclick="clickk11()" id="eleven">9</button>
            <button  class="btn" onclick="clickk12()" id="twelve">-</button>
                </div>
                <div class="section1">
                  <button class="btn" onclick="clickk13()" id="thirteen">0</button>
                  <button class="btn" onclick="clickk14()" id="fourteen">.</button>
                  <button  class="btn" onclick="clickk15()" id="fifteen">=</button>
                  <button  class="btn" onclick="clickk16()" id="sixteen">+</button>
                      </div>

  </div>




  <script src="../script.js"></script>
</body>
</html>
