<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Clone</title>
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
  
 <div class="main">
  <div class="mainunder" >

  
  <div class="leftsection">
<div class="lefttop">
  <ul>
     <li>
      <a href="#">
        <img src="images/spotifylogo.png" alt="" class="logoimg">

      </a>
     </li>
     <li>
      <a href="#">
        <div class="home">
          <img src="images/house.png" alt="" class="houseimg" >
          <span class="hometext" >Home</span>
        </div>
        
      </a>
      

     </li>
     <li>
      <a href="#">
        <div class="search">
          <img src="images/search.png" alt="" class="searchimg" >
          <span class="searchtext" >Search</span>
        </div>
        
      </a>
      

     </li>
  </ul>
 
</div>
<div class="leftcenter">
  <div class="plusdiv">
 <a href="">
        <div class="library">
          
         
          <img src="images/librarylogo.png" alt="" class="libraryimg" >
         
            <span class="librarytext" >Your Library</span>
         
          </div>
        </a>
            <a href=""><span class="plus">+</span></a>
          </div>
          <div class="scroll">
<div class="scrollinner"><a href="">
<p class="scrollinnertext1" >Create your first playlist</p>
<p class="scrollinnertext">It's easy,we'll help you</p></a>
<a href=""><button class="scrollinnerbtn" type="button">Create playlist</button></a>
</div>
<div class="scrollinnersecond"><a href="">
  <p class="scrollinnertext1" >Let's find some podcasts to  follow</p>
  <p class="scrollinnertext">We'll keep you updated on new  episodes</p></a>
  <a href=""><button class="scrollinnerbtn" type="button">Browse podcasts</button></a>
</div>
          </div>
         
          
       
        
      
      

     
 
</div>
<div class="leftbottom">
  <ul>
    <a href="">
    <li class="leftbottomlistitem1">Legal</li></a>
    <a href="">
    <li class="leftbottomlistitem">Privacy Center</li></a>
    <a href="">
    <li class="leftbottomlistitem">Privacy Policy</li></a>
    <a href="">
    <li class="leftbottomlistitem">Cookies</li></a>
  </ul>
  <ul class="leftbottomlist">
    <a href="">
    <li class="leftbottomlistitem1">About Ads</li></a>
    <a href="">
    <li class="leftbottomlistitem">Accessibility</li></a>
    
  </ul>
  <ul class="leftbottomlist">
    <a href="">
   
    <li class="leftbottomlistitem1">Cookies</li></a>

    
  </ul>
  <a href=""><button type="button" class="englishbtn"><div class="btndiv">

  <img src="images/internet.png" alt="" class="internetimg"><span class="englishtext">English</span>
</div>
</button></a>
  
</div>
  </div>
  <div class="rightsection">
    <div class="rightnavdiv">
<div class="rightnav">
  <div class="symgroup">
 <a href=""><div class="symbdiv"><img src="images/less-than-symbol (1).png" alt="" class="greatimg"></div></a> 
  <a href=""><div class="symbdivsecond"><img src="images/greater-than-symbol.png" alt="" class="lessimg"></div></a> 
</div>
<div>
  <a href="signup.html" class="signtext">Sign up</a>
  <a href="login.html"><button class="scrollinnerbtn custom">Log in</button></a>

</div>
</div>
</div>
<div >
<div class="rightcenter">
  <div class="showdiv">
  <a href=""><span class="spotifytxt">Spotify Playlists</span></a>
   <a href=""><span class="signtext2">Show all</span></a>
</div>
<div class="songsdiv">
  <a href="songdetail.html">
  <div class="songsdivitem">
    <img class="playomg" src="images/play.png" alt="">
<img class="songimg" src="images/image2.jpg" alt="">
<h3 class="imgtextbig">Happy Hits!</h3>
<p class="imgtextsmall">Hits to boost your mood <br> and fill you with happiness!</p>
  </div>
</a>
<a href="">
  <div class="songsdivitem">
    <img class="playomg" src="images/play.png" alt="">

    <img class="songimg" src="images/image3.jpg" alt="">
    <h3 class="imgtextbig">Calming Acoustic</h3>
<p class="imgtextsmall">Keep calm with <br> instrumental acoustic...</p>
   
      </div></a>
      <a href="">
      <div class="songsdivitem">
        <img class="playomg" src="images/play.png" alt="">

        <img class="songimg" src="images/image1.jpg" alt="">
        <h3 class="imgtextbig">Christmas Classics</h3>
<p class="imgtextsmall">Timeless heart-warming <br> classics from 1940-1980...</p>
          </div></a>
          <a href="">
          <div class="songsdivitem">
            <img class="playomg" src="images/play.png" alt="">

            <img class="songimg" src="images/image4.jpg" alt="">
            <h3 class="imgtextbig">lofi chill</h3>
<p class="imgtextsmall">Lazy slow lofi beats for <br> laid-back moments.</p>
              </div></a>
              <a href="">
              <div class="songsdivitem">
                <img class="playomg" src="images/play.png" alt="">

                <img class="songimg" src="images/image5.jpg" alt="">
                <h3 class="imgtextbig">Viral Hits</h3>
<p class="imgtextsmall">Viral, trending and taking <br> off.</p>
                  </div></a>
</div>
</div>
<div class="rightfooter">
  <div class="rightfooter1">
    <div>
<h3 class="rightfootertxt">Company</h3>

<a href="" class="signcustom ">About</a>

<a href="" class="signcustom ">Jobs</a>

<a href="" class="signcustom ">For the Record</a>


</div>
<div>
  <h3 class="rightfootertxt">Communities</h3>
  
  <a href="" class="signcustom ">For Artists</a>
  
  <a href="" class="signcustom ">For Artists</a>
  
  <a href="" class="signcustom ">Advertising</a>
  <a href="" class="signcustom ">Investors</a>
  <a href="" class="signcustom ">Vendors</a>
  
  
  </div>
  <div>
    <h3 class="rightfootertxt">Useful links</h3>
    
    <a href="" class="signcustom ">Support</a>
    
    <a href="" class="signcustom ">Free Mobile App</a>
    
   
    
    
    </div>
  </div>
  <div class="rightfooter2">
    <div class="logosdiv">
      <div class="logocontain">
      <img src="images/instagram.png" alt="" class="logoimg2">
    </div>
    <div class="logocontain">
      <img src="images/twitter.png" alt="" class="logoimg2">
    </div>
    <div class="logocontain">
      <img src="images/facebook.png" alt="" class="logoimg2">
    </div>
    </div>
  </div>
  
</div>

<div class="lastfooter">
  <hr class="line">
  <p class="copytxt">&copy; 2023 Spotify AB</p>
</div>
</div>
<div class="lastfooter">
  
  <p class="copytxt">.</p>

</div>
  </div>

 </div>

 <div class="lastsection">
  <div>
    <p class="lastsectiontxt">PREVIEW OF SPOTIFY</p>
    <h3 class="lastsectiontxt2">Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</h3>
  </div>
  <div>
    <button class="scrollinnerbtn custom custom1">Sign Up Free</button>
  </div>
</div>
</div>
</body>
</html>